<nav>
  <h1>Dev Wales</h1>
  <ul>
    <li>
      <a href="/">Home</a>
      <a href="/companies">Companies</a>
      <a href="/groups">Groups</a>
      <a href="/speakers">Speakers</a>
    </li>
  </ul>
</nav>

{{{ content }}}