<div class="container mx-auto px-4 py-16 flex flex-col md:flex-row justify-between">
  <div class="w-full md:w-3/4 lg:w-1/2 md:mr-8 lg:mr-0">
    <h1>About Dev Wales</h1>
    <p class="mt-4 leading-normal">Hey, thanks for stopping by! The purpose of this site is to make finding software development companies and jobs easier and to boost the local developer community. To do that I'm building an open directory of companies that hire developers that anyone can access and contribute to.</p>

    <p class="mt-8 leading-normal">This site is for:</p>

    <ul class="mt-4">
      <li class="mb-4 leading-normal">Developers - to discover companies and jobs that work for you.</li>
      <li class="mb-4 leading-normal">Freelancers and contractors - so that you can advertise your services and find new clients.</li>
      <li class="mb-4 leading-normal">Companies - to attract the best talent by being transparent and making you more discoverable.</li>
      <li class="leading-normal">... and anyone else who finds it valuable!</li>
    </ul>

    <h2 class="mt-12">Who am I?</h2>
    <p class="mt-4 leading-normal">I'm Simon Anthony, a Product Designer from Swansea. If you've found this site helpful, have a suggestion or just want to chat you can <a class="text-red" href="mailto:simontheengineer@gmail.com">send me an email</a>, get in touch <a class="text-red" href="https://twitter.com/myguysi" target="_blank">on Twitter</a> or shoot me a DM on the <a class="text-red" href="https://cardiffdev.herokuapp.com" target="_blank">Cardiff Dev Slack group</a>.</p>

    <h2 class="mt-12">Motivation</h2>
    <p class="mt-4 leading-normal">Back in September 2018 I lost my job and had to find work pretty quickly. I started trawling job sites, local groups and visiting the websites of companies that I knew. I put together a spreadsheet to track the jobs I was interested in but the problem was that I didn't actually know that many software companies based around South Wales even though I knew plenty of them existed.</p>
    <p class="mt-4 leading-normal">That's why I started this project; to build a list of companies in Wales that employ developers and give power back to job seekers to find the best places to work.</p>
  </div>

  <div class="w-full md:w-1/4 flex flex-col mt-12 md:mt-0">
    <h3>Community links</h3>
    <a href="https://cardiffdev.herokuapp.com" class="mt-4 text-red leading-normal">Cardiff Dev Slack</a>
    <a href="https://cardiff-js.herokuapp.com" class="mt-4 text-red leading-normal">Cardiff-JS Slack</a>

    <h3 class="mt-8">Helpful resources</h3>
    <a href="https://www.keyvalues.com/culture-queries" class="mt-4 text-red leading-normal">Perfect questions to ask
      in your job interview.</a>
  </div>
</div>
