{{#> pageHero }}
<h1 class="text-white text-4xl">Upcoming events</h1>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Communities grow when like-minded people come together and share their passions.
</p>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Find a meetup that resonates with you and get involved.
</p>
{{/pageHero}}

<section class="container mx-auto py-12">
  <ul>
    {{#each events}}
    <li class="bg-white p-4 mb-4">
      <p>{{this.name}}</p>
      <p class="text-gray-600 text-sm">{{this.host}}</p>
    </li>
    {{/each}}
  </ul>
</section>