{{#> pageHero }}
<h1 class="text-white text-4xl">Building a stronger community for developers in Wales</h1>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Whether you're a developer hunting for jobs, a company searching for a development agency or a contractor advertising your services, we've got the biggest list of companies building software in Wales.
</p>
{{/pageHero}}

<section class="py-8 px-4">
  <div class="container mx-auto">
    <h2 class="text-2xl">Recently added speakers</h2>
    <ul class="list-none mt-4 flex flex-row">
      <li class="w-1/5 pr-2">
        <div class="bg-white p-4 shadow">Joe Bloggs</div>
      </li>
      <li class="w-1/5 px-2">
        <div class="bg-white p-4 shadow">Joe Bloggs</div>
      </li>
      <li class="w-1/5 px-2">
        <div class="bg-white p-4 shadow">Joe Bloggs</div>
      </li>
      <li class="w-1/5 px-2">
        <div class="bg-white p-4 shadow">Joe Bloggs</div>
      </li>
      <li class="w-1/5 pl-2">
        <div class="bg-white p-4 shadow">Joe Bloggs</div>
      </li>
    </ul>
  </div>
</section>
