<div class="px-4 pt-8 pb-24">
  <div class="container mx-auto">
    <p class="text-2xl font-bold">You've been subscribed 💪</p>
    <p class="mt-2">Redirecting you back in 5 seconds</p>
    <p class="mt-4">If that doesn't work, <a href="#" class="text-red-600 hover:underline">click here to go back</a>.</p>
  </div>
</div>

<script>
  setTimeout(function() {
    window.location = "/"
  }, 5000);
</script>