{{#> pageHero }}
<h1 class="text-white text-4xl">Venues!</h1>
<p class="mt-4 text-lg text-red-200 leading-normal">
  Some message here...
</p>
{{/pageHero}}

<div class="py-8">
  <div class="container mx-auto px-4 flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2">
      <div class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
        Showing <span id="result-count">{{venues.length}}</span> venues
      </div>
      <ul id="venues-list">
        {{#each venues}}
        <li class="bg-white p-4 sm:p-6 mb-2 rounded shadow">
          <h2 class="font-bold mb-2">{{this.name}}</h2>
          <p class="text-gray-700 leading-normal mb-2">{{this.address}}</p>
          <a class="text-red-600 hover:underline" href="{{this.website}}" target="_blank">Website</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>