body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

main {
  flex: 1
}

h1, h2, h3, h4, h5, h6, #title {
  font-family: 'Muli', sans-serif;
}

a:not([class]) {
  color: #e53e3e;
  text-decoration: underline;
}

.container-xs {
  max-width: 600px;
}

.l-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* ====== */

.l-user-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .l-user-profile {
    grid-template-columns: 1fr 2fr;
  }

  .l-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .l-user-profile {
    grid-template-columns: 1fr 2fr 1fr;
  }
}