<!DOCTYPE html>
<html>
  <head>
    <title>Dev Wales</title>
  </head>
  <body>
    <nav>
      <h1>
        <a href="./index.html">Dev Wales</a>
      </h1>
      <ul>
        <li>
          <a href="./groups.html">Groups</a>
        </li>
        <li>
          <a href="./speakers.html">Speakers</a>
        </li>
        <li>
          <a href="./companies.html">Companies</a>
        </li>
        <li>
          <a href="./jobs.html">Jobs</a>
        </li>
        <li>
          <a href="./about.html">About</a>
        </li>
      </ul>
    </nav>

    <h1>About Dev Wales</h1>
    <p>Hey, thanks for stopping by! The purpose of this site is to make finding software development companies and jobs easier and to boost the local developer community. To do that I'm building an open directory of companies that hire developers that anyone can access and contribute to.</p>

    <p>This site is for:</p>
    <ul>
      <li>Developers - to discover companies and jobs that work for you.</li>
      <li>Freelancers and contractors - so that you can advertise your services and find new clients.</li>
      <li>Companies - to attract the best talent by being transparent and making you more discoverable.</li>
    </ul>
    <p>...and anyone else who finds it valuable!</p>

    <h2>Motivation</h2>
    <p>Back in September 2018 I lost my job and had to find work pretty quickly. I started trawling job sites, local groups and visiting the websites of companies that I knew. I put together a spreadsheet to track the jobs I was interested in but the problem was that I didn't actually know that many software companies based around South Wales even though I knew plenty of them existed.</p>
    <p>That's why I started this project; to build a list of companies in Wales that employ developers and give power back to job seekers to find the best places to work.</p>
  </body>
</html>