<!DOCTYPE html>
<html>
  <head>
    <title>Dev Wales</title>
  </head>
  <body>
    <nav>
      <h1>
        <a href="./index.html">Dev Wales</a>
      </h1>
      <ul>
        <li>
          <a href="./groups.html">Groups</a>
        </li>
        <li>
          <a href="./speakers.html">Speakers</a>
        </li>
        <li>
          <a href="./companies.html">Companies</a>
        </li>
        <li>
          <a href="./jobs.html">Jobs</a>
        </li>
        <li>
          <a href="./about.html">About</a>
        </li>
      </ul>
    </nav>

    <h1>Jobs</h1>
    <p>Under construction!</p>
  </body>
</html>